<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ability.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ability.description %>
</p>

<p>
  <strong>Power mod:</strong>
  <%= @ability.power_mod %>
</p>

<p>
  <strong>Functions:</strong>
  <%= @ability.functions %>
</p>

<p>
  <strong>Sprite:</strong>
  <%= @ability.sprite %>
</p>

<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
