<p id="notice"><%= notice %></p>

<h1>Listing Projectiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Element</th>
      <th>Functions</th>
      <th>Sprite</th>
      <th>Sprite start</th>
      <th>Sprite finish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectiles.each do |projectile| %>
      <tr>
        <td><%= projectile.name %></td>
        <td><%= projectile.description %></td>
        <td><%= projectile.element %></td>
        <td><%= projectile.functions %></td>
        <td><%= projectile.sprite %></td>
        <td><%= projectile.sprite_start %></td>
        <td><%= projectile.sprite_finish %></td>
        <td><%= link_to 'Show', projectile %></td>
        <td><%= link_to 'Edit', edit_projectile_path(projectile) %></td>
        <td><%= link_to 'Destroy', projectile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectile', new_projectile_path %>
